@charset "utf-8";
/* CSS Document */
/*
创建时间：2009.12.30
创 建 者：meihua
创建原因：网站二次全新改版，网站头部、底部等公用模块样式及版式、布局
*/
body{text-align:center;}
em{font-style:normal;}
/*公用背景图*/
.qabg{background-image:url(../images/qa/qabg.png); background-repeat:no-repeat; background-position:0 0;}
.qafilet{background-image:url(../images/qa/qa_filet.png); background-repeat:no-repeat; background-position:0 0;}
.qaCon a:link,.qaCon a:visited,.qaCon a:hover,.qaCon a:active{color:#16387C;}
#footer_sim a:link,#footer_sim a:visited,#footer_sim a:hover,#footer_sim a:active{color:#666;}
.ht20{height:20px;}
.textleft{text-align:left;}
/*圆角span*/
.sFillet{display:block; font-size:1px; line-height:normal; margin:0; padding:0;}
.fillet190_t{background-position:-389px -145px;}
.fillet190_b{background-position:-195px -176px;}
.fillet230_b{background-position:-760px -130px;}
.fillet190_gray_b{background-position:0 -176px;}
.fillet750_t{background-position:0 -95px;}
.fillet750_b{background-position:0 -120px;}
.fillet790_t{background-position:0 -185px;}
.fillet790_b{background-position:0 -210px;}
/*btn*/
.btn3,.btn4{display:inline-block; background-image:url(../images/common/btn.png); background-repeat:no-repeat; font-family:"宋体","Arial,verdana";}
.btn3 span,.btn4 span{display:inline-block; background-image:url(../images/common/btn.png); background-repeat:no-repeat; cursor:pointer;}

.btn3{font-size:14px; height:31px; line-height:30px; padding-left:12px;}
.btn3 span{padding-right:12px;}
.btn3_red:link,.btn3_red:visited,.btn3_red:hover,.btn3_red:active{color:#fff;}
.btn3_red{background-position:0 0;}
.btn3_red span{background-position:right 0;}
.btn3_red:hover{background-position:0 -36px;}
.btn3_red:hover span{background-position:right -36px;}
.btn3_blue:link,.btn3_blue:visited,.btn3_blue:hover,.btn3_blue:active{color:#fff!important;}
.btn3_blue{background-position:0 -72px;}
.btn3_blue span{background-position:right -72px;}
.btn3_blue:hover{background-position:0 -108px;}
.btn3_blue:hover span{background-position:right -108px;}
.btnBlue_reply{ display: inline-block; width: 52px; height: 30px; line-height: 30px; color: #fff!important; background-color: #14a7ed; text-align: center; font-size: 14px; cursor: pointer; border-radius: 4px; text-decoration: none!important; }
.btnBlue_reply:hover{ background-color: #14b1e7; }

.btn4{font-size:12px; height:20px; line-height:20px; padding-left:12px;}
.btn4 span{padding-right:12px;}
.btn4_red:link,.btn4_red:visited,.btn4_red:hover,.btn4_red:active{color:#fff;}
.btn4_red{background-position:0 -216px;}
.btn4_red span{background-position:right -216px;}
.btn4_red:hover{background-position:0 -241px;}
.btn4_red:hover span{background-position:right -241px;}
.btn4_blue:link,.btn4_blue:visited,.btn4_blue:hover,.btn4_blue:active{color:#fff;}
.btn4_blue{background-position:0 -266px;}
.btn4_blue span{background-position:right -266px;}
.btn4_blue:hover{background-position:0 -291px;}
.btn4_blue:hover span{background-position:right -291px;}
/*输入框默认value值字体颜色*/
.hidevalue{color:#999;}
/*公用弹出框*/
#contdiv{position:absolute;}
#bgdiv{opacity:0.3;}
.popcon{position:relative; z-index:100;}
.divshim{width:100%; height:100%; z-index:0; filter:alpha(opacity=0); opacity: 0; border:none;}
.popclose{position:absolute; top:10px; right:10px; z-index:999;}
.popclose a{display:block; font-size:1px; line-height:normal; width:16px; height:16px; background:url(../images/qa/qabg.png) no-repeat 0 -23px;}
.popmain{background-color:#fff; padding:10px 10px 15px 10px; border:1px solid #eaeaea; -webkit-box-shadow:5px 5px 4px #999; -moz-box-shadow:5px 4px 4px #999; text-align:left;}
.popmain h2{font-size:14px; font-weight:bold; margin-bottom:10px; padding:0 0 8px 10px; border-bottom:1px solid #e7e7e7;}
.popmain_con{padding:0 10px;}
.addpopmain_con{padding:0px;}
.addPopmain{background-color:#fff; padding:0px; border:none; -webkit-box-shadow:none; -moz-box-shadow:none; text-align:left;}
.addPopmain h2{font-size:14px; font-weight:bold; margin-bottom:0px; padding:0 0 8px 10px; border-bottom:1px solid #e7e7e7;}
.addPopmain{padding:0px;}
#titlebar{background-color:#eaeaea; height:40px; width:95%; position:absolute; left:0; top:0; z-index:1100; cursor:move; opacity:0; filter:alpha(opacity=0);}
/* tooltip */
#tooltip{position:absolute; border:1px solid #333; background:#f7f5d1; max-width:280px; width:auto !important; width:280px; overflow:visible; padding:5px; color:#333; z-index:10; text-align:left;}
/*翻页模块*/
.page span{display:inline-block;}
.page a{font-family:"宋体","Arial,verdana";}
.page a:link,.page a:visited{color:#333;}
.curPage{font-weight:bold;}
.page_num_b .paging_points{font-family:"Arial"; line-height:10px; padding:2px 4px;}
.page_num_s span,.page_num_s a{margin:0 5px;}
.page_num_s a span{margin:0;}
.page_num_b span,.page_num_b a{margin:0 2px;}
.page_num_b span{padding:4px;}
.page_num_b a,.page_num_b a span{display:inline-block; line-height:21px;}
.page_num_b a{background:url(../images/common/common_btn.png) no-repeat -622px 0; padding-left:6px;}
.page_num_b a span{background:url(../images/common/common_btn.png) no-repeat right top; padding:0 6px 0 0; margin:0;}
.page_num_b .curPage,.page_num_b a:hover{background-position:-622px -21px; text-decoration:none;}
.page_num_b .curPage span,.page_num_b a:hover span{background-position:right -21px; color:#fff;}
.page .nopage a:link,.page .nopage a:visited,.page .nopage a:hover,.page .nopage a:active{color:#999; text-decoration:none;}
.icon_page{display:inline-block; height:21px; line-height:21px; width:50px; text-align:center;background-image: url(../images/common/common_btn.png); background-repeat:no-repeat; background-position:-622px 0;}
a.icon_page:link,a.icon_page:visited,a.icon_page:hover,a.icon_page:active{text-decoration:none;}
a.icon_page:hover{color:#fff; background-position:-622px -21px;}
.nopage a.icon_page:hover{background-position:-622px 0;}
.page_t{position:absolute; right:35px; top:20px; z-index:10;}
.jumppage{padding:0 15px;}
.jumppage input{height:20px; width:22px; padding:0 6px; margin:0 5px; line-height:20px; border:1px solid #aaa;}
.jumppage a{margin-left:8px;}

/* 三角 */
.ui-icon-arrows{display:inline-block; position:absolute; margin:0; padding:0; width:0; height:0; line-height:0; font-style:normal; font-size:0; font-weight:normal; border-width:4px; z-index:99;}
.ui-icon-arrows-top{
    border-color:transparent transparent #222 transparent;
    border-style:dashed dashed solid dashed;
}

/*页签*/
.tag2{padding:0 10px; border-bottom:1px solid #dadada;}
.tag2 li{float:right; display:inline; border:1px solid #dadada; background-color:#f0f0f0; line-height:24px; padding:0 12px; margin-left:-1px; margin-bottom:-1px; position:relative; cursor:pointer;}
.tag2 .curTag{background-color:#fff; border-bottom:1px solid #fff;}
.tag2_blue .curTag,.tag2_blue .tagHover{color:#14a7ed;}
.tag2_red .curTag,.tag2_red .tagHover{color:#ff5f5f;}

/*-----------------------------布局，版面 layout-------------------------*/
#container{background-color:#fff; color:#333; width:990px; margin:0 auto; text-align:left; overflow:hidden;}
#content{overflow:hidden; zoom:1;}
.sidebar230{width:230px;}
.sidebar190{width:190px;}
.main590{width:590px; margin-left:10px;}
.main750{width:750px;}
.main790{width:790px;}
.main750_wrap{background:#fff url(../images/qa/filet750_m.gif) repeat-y 0 0; height:100%; padding:5px 35px 30px 35px;}
.main790_wrap{background:#fff url(../images/qa/filet790_m.gif) repeat-y 0 0; height:100%; padding:5px 35px 30px 35px;}
.qaCon{padding-top:50px;}

/*----------------------------- 头部 header ----------------------------*/
/* header */
#qaTop{background-color:#14a7ed; height:38px; line-height:38px; position:fixed; left:0; top:0; z-index:100; width:100%;}
.qatop{width:990px; margin:0 auto;}
.qatop h1 span{display:block; font-size:0; line-height:0; text-align:-9999px; overflow:hidden;}

.qatop_sub li{float:left; display:inline;}
.qatop_sub li a{display:inline-block; height:38px; line-height:38px; padding:0 10px;}
.qatop_sub li a:link,.qatop_sub li a:visited,.qatop_sub li a:hover,.qatop_sub li a:active{color:#fff; text-decoration:none;}
.qatop_sub .nav_hover a,.qatop_sub .nav_hover a:hover,.qatop_sub li a:hover{background-color:#0596dc;}
.qatop_sub .qatop_nav_slide a{border:1px solid #14a7ed; border-bottom:none; height:37px; line-height:36px;}
.qatop_sub .open a:link,.qatop_sub .open a:visited,.qatop_sub .open a:hover,.qatop_sub .qatop_nav_slide a:hover{background-color:#fff; color:#333;}
.qatop_sub .qatop_nav_slide{position:relative; z-index:101; zoom:1;}
.qatop_sub .qatop_nav_sub{background-color:#fff; border:1px solid #14a7ed; border-top:none; padding:5px; position:absolute; top:38px; z-index:102;}
.qatop_sub .qatop_nav_sub li{float:none; line-height:0; margin:0;}
.qatop_sub .qatop_nav_sub .satisfaction{display:block; height:28px; line-height:28px; padding-left:6px; text-align:left;}
.qatop_sub .qatop_nav_slide .qatop_nav_sub li a{display:block; border:none; font-size:12px; height:28px; line-height:28px; padding:0 0 0 6px; text-align:left;}
.qatop_sub .qatop_nav_sub li a:link,.qatop_sub .qatop_nav_sub li a:visited{color:#333;}
.qatop_sub .qatop_nav_sub li a:hover,.qatop_sub .qatop_nav_sub li a:active{background-color:#14a7ed; color:#fff;}
.qatop_nav_slide em{display:inline-block; border-width:4px; border-color:#fff transparent transparent transparent; border-style:solid dashed dashed dashed; font-size:0; height:0; line-height:0; margin-top:17px; *margin-top:6px;/*for IE6/IE7*/ margin-left:5px; vertical-align:top; width:0;}
.open a em,.qatop_nav_slide a:hover em{border-color:#333 transparent transparent transparent;}

.qatop_nav{padding-left:20px;}
.qatop_nav li{margin:0 2px;}
.qatop_nav li a{font-size:14px;}
.qatop_nav .qatop_nav_sub{left:0; width:120px;}

.qatop_person .qatop_news{position:relative; z-index:101; zoom:1;}
.qatop_news .qatop_news_link{display:block; background:#14a7ed url(../images/qa/qaicon.png) no-repeat 10px -881px; text-indent:-9999px; width:22px; overflow:hidden;}
.qatop_news .qatop_news_link:hover{background:#0596dc url(../images/qa/qaicon.png) no-repeat 10px -881px;}
.qatop_news_pop{background-color:#fff; border:1px solid #14a7ed; position:absolute; left:-170px; top:38px; z-index:102; text-indent:0; width:220px;}
.qatop_news_pop em{display:inline-block; color:#fff; font-size:14px; height:10px; line-height:18px; overflow:hidden; position:absolute; left:180px; top:-8px; z-index:103; vertical-align:top;}
.qatop_news_pop ul{padding:5px 10px; text-align:left;}
.qatop_news_pop ul li{display:block; float:none; font-size:12px; height:18px; line-height:18px; padding:3px 0;}
.qatop_news_tips{background-color:#ff5f5f; color:#fff; font-size:10px; height:12px; line-height:12px; width:12px; text-align:center; position:absolute; left:25px; top:5px; z-index:101;}
.qatop_news_pop ul li a{display:inline; height:auto; line-height:18px; padding:0;}
.qatop_news_pop ul li a:link,.qatop_news_pop ul li a:visited{background:none; color:#16387c;}
.qatop_news_pop ul li a:hover,.qatop_news_pop ul li a:active{background:none; color:#16387c; text-decoration:underline;}
.qatop_news_close{background:url(../images/qa/qaicon.png) no-repeat 0 -452px; cursor:pointer; font-size:0; height:8px; line-height:0; text-indent:-9999px; width:8px; position:absolute; right:7px; top:7px; z-index:103;}
.qatop_person .qatop_nav_sub{right:0; width:200px;}
.qatop_person .qatop_nav_sub a:hover .fcor_gray{color:#ddd;}
.qatop_person .andriod_dw{position:relative; z-index:102;}
.qatop_person .andriod_dw a{padding-left:28px; background:url(../images/qa/qaicon.png) no-repeat 5px -918px;}
.andriod_dw_new{height:14px; width:21px; position:absolute; left:22px; top:1px; z-index:102;}

/*only for IE6*/
#qaTop{_position:absolute; _top:expression(eval(document.documentElement.scrollTop));}
.qatop_sub .qatop_nav_slide a{_height:27px; _padding-top:10px;}

/*搜索*/
.search{height:90px; padding:0 80px; margin-bottom:10px;}
.search_box{padding-top:10px;}
.search_input{display:inline-block; height:24px; line-height:24px; width:440px;}
.search_input input{background-color:#fff; border:1px solid #4b61a9; height:24px; line-height:24px; padding:0 4px;}
.search_btn{background-color:#fff; border:none; height:33px; margin-left:10px; width:110px; text-indent:-9999px; overflow:hidden; cursor:pointer;}
.sec_search{background-position:0 -90px;}
.sec_ask{background-position:-115px -90px;}
.sec_answer{background-position:-230px -90px;}
.sec_search:hover{background-position:0 -52px;}
.sec_ask:hover{background-position:-115px -52px;}
.sec_answer:hover{background-position:-230px -52px;}
.search_key{margin-top:5px;}
.search_key a{margin-left:10px;}
.search_h2{white-space:pre-wrap; word-wrap:break-word; zoom:1;}

/*------------------------ 主体内容 content -------------------------*/
.sbar_til{height:30px; line-height:30px; padding-left:10px;}
.sbar_gray{border-left:1px solid #d4d4d4; border-right:1px solid #d4d4d4; height:100%; padding:8px;}
/*学科关键词*/
.sbar_til190_blue{background-position:0 -145px; color:#fff;}
.sbar_grade .sbar_gray{background-color:#f0f0f0;}
.sbar_grade_h4{border-bottom:2px solid #cce6ff; font-size:14px; font-weight:bold; line-height:24px; position:relative;}
.sbar_grade_h4 span{ display:inline-block; border-bottom:2px solid #4ca6ff; line-height:24px; margin-bottom:-2px;}
.sbar_grade_tag{padding-top:5px;}
.sbar_grade_tag li{float:left; margin-top:4px; margin-bottom:4px;}
.sbar_grade_tag li a{display:block; font-size:14px; line-height:22px; width:45px; text-align:center;}
.sbar_grade_tag li a:link,.sbar_grade_tag li a:visited,.sbar_grade_tag li a:hover,.sbar_grade_tag li a:active{text-decoration:none;}
.sbar_grade_tag li.nav_hover a,.sbar_grade_tag li a:hover{background-color:#4ca6ff; color:#fff;}
.sbar_grade_tag li.nav_hover a:link,.sbar_grade_tag li.nav_hover a:visited,.sbar_grade_tag li.nav_hover a:hover,.sbar_grade_tag li.nav_hover a:active{color:#fff;}
.sbar_subject_list dt{font-size:14px; font-weight:bold;}
.sbar_subject_list dl{border-bottom:1px dotted #d4d4d4; padding:12px 0;}
.sbar_subject_list dd a{float:left; display:inline; margin-right:10px; line-height:22px; white-space:nowrap;}
.sbar_subject_list .nav_hover a:link,.sbar_subject_list .nav_hover a:visited,.sbar_subject_list .nav_hover a:hover,.sbar_subject_list .nav_hover a:active{background-color:#4ca6ff; color:#fff; padding:2px 5px; text-decoration:none;}
.show_s{background-image:url(../images/qa/qaicon.png); background-repeat:no-repeat; padding-right:20px;}
.showCon .show_s:link,.showCon .show_s:visited,.showCon .show_s:hover,.showCon .show_s:active{color:#888;}
.show_all{background-position:27px -857px;}
.show_part{background-position:27px -825px;}
/*边栏带虚底链接*/
.sbar_list li{padding:3px 0; padding-left:10px; background:url(../images/common/dot.gif) no-repeat 0 10px;}
.sbar_list li img{padding-top:5px; width:162px; overflow:hidden;}

.qaTimeTips{position:absolute; left:0; padding:10px; background-color:#888; color:#fff; z-index:10;
    -webkit-box-shadow:1px 1px 3px #ccc;
    -moz-box-shadow:1px 1px 3px #ccc;
    box-shadow:1px 1px 3px #ccc;}
.qaTimeTips .ui-icon-arrows{left:15px; top:-8px; border-color:transparent transparent #888 transparent;}
.qa_assist_btn .qaTimeTips{top:30px; width:140px;}
.addfile_btn .qaTimeTips{left:120px; top:30px; width:140px;}

.qaSubmitError img{padding:2px 5px 0 0;}
.inform_popmain .qaSubmitError{padding-left:65px;}

/*----------------------- 页脚 footer -------------------------*/
#footer{margin:20px 0; border-top:1px solid #dadada; color:#888; text-align:center;}
.footer-wrap{position:relative; margin:0 auto; width:990px; z-index:1;}
.footer-list{padding:10px 0;}
.footer-list li{display:inline; padding:0 2px;}
.footer-list li span{padding:0 2px 0 8px; color:#ccc;}
.footer-img li{display:inline;}
/* friendlink */
.friendlink{border:1px solid #e5e5e5; margin-top:15px;}
.fl_tag{height:29px; padding-left:10px; background:url(../images/frontpage/fl_tabbg.gif) repeat-x 0 0;}
.fl_tag li{float:left; color:#909090; width:70px; height:25px; line-height:25px; margin-top:4px; margin-right:6px; text-align:center; cursor:pointer;}
.fl_tag li.curTag{color:#222; background-image:url(../images/frontpage/frontbg2.png); background-repeat:no-repeat; background-position:-492px -308px;}
.fl_con{background-color:#fff; padding:15px 0 15px 18px;}
.fl_hezuo a{margin-right:13px;}
.fl_link ul li{padding-right:13px; display:inline;}
.friendlink a:link,.friendlink a:visited{color:#585757; text-decoration:none;}
.friendlink a:hover,.friendlink a:active{color:#369; text-decoration: underline;}

/* triangle */
.ui-icon-triangle-dropdown,.ui-icon-triangle-left,.ui-icon-triangle-right{display:inline-block; height:0; width:0; margin:0; padding:0; border-width:4px; font-style:normal; font-size:0; font-weight:normal; line-height:0; vertical-align:top;}
.ui-icon-triangle-dropdown{border-color:#666 transparent transparent transparent; border-style:solid dashed dashed dashed;
    -webkit-transition:-webkit-transform .2s ease-in;
    -webkit-backface-visibility:hidden;
    -moz-transition:-moz-transform .2s ease-in;
    -o-transition:-o-transform .2s ease-in;
    transition:transform .2s ease-in;
}
.dropdownHover .ui-icon-triangle-dropdown{border-color:#666 transparent transparent transparent;
    -moz-transform:rotate(180deg);
    -moz-transform-origin:50% 30%;
    -webkit-transform:rotate(180deg);
    -webkit-transform-origin:50% 30%;
    -o-transform:rotate(180deg);
    -o-transform-origin:50% 30%;
    transform:rotate(180deg);transform-origin:50% 30%;
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.ui-icon-triangle-left{border-color:transparent #666 transparent transparent; border-style:dashed solid dashed dashed;}
.ui-icon-triangle-right{border-color:transparent transparent transparent #666; border-style:dashed dashed dashed solid;}

/* form */
.ui-form-label{margin-right:5px;}
.ui-form-label span{color:#ff5f5f; margin-right:5px;}
.ui-form-text{display:inline-block; padding:0 8px; height:26px; background-color:#fff; border:1px solid #d9d9d9; font-size:inherit; line-height:26px\9;}
.ui-form-text:hover{border:1px solid #b9b9b9; border-top:1px solid #a0a0a0;
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
}
.ui-form-text:focus{border:1px solid #14a7ed;
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);
}
.scores_select p.norS{float:left;width:83px;height:83px;clear: none;position:relative;}
.scores_select p.norS:hover{background-color:#EBF9FF;z-index:0;}
.scores_select p.norS input{position: absolute; right:0; bottom: 0; display:none}
.scores_select p.checked{background:url(../images/qa/checked.png);width:83px;height:83px;z-index:999;position:relative;}
.scores_select p.norS span{display:inline-block;width:83px;height:83px;}
.scores_select p span.newbj0{background-image:url(../images/qa/qabg1.png);background-repeat:no-repeat; background-position:-167px -83px;}
.scores_select p span.newbj1{background-image:url(../images/qa/qabg1.png);background-repeat: no-repeat; background-position: -167px 0;}
.scores_select p span.newbj2{background-image:url(../images/qa/qabg1.png);background-repeat: no-repeat; background-position: -167px -167px;}
.scores_select p span.newbj3{background-image:url(../images/qa/qabg1.png);background-repeat: no-repeat; background-position: -167px -249px;}
.scores_select p span.newbj4{background-image:url(../images/qa/qabg1.png);background-repeat: no-repeat; background-position: -167px -332px;}