				   .redpoint{
						 height:12px;
				  		 width:12px;
				  		 border-radius:6px;
				  		 display:inline-block;
					  	 background:red;
					  	 position: relative;
				  		 top: -6px;
				  		 z-index:2;
					}
					
					.button { /* ��ť���� */
							display:inline-block;
							padding:5px;
							border-width: 0px; /* �߿��� */
							border-radius: 3px; /* �߿�뾶 */
							background: #1E90FF; /* ������ɫ */
							cursor: pointer; /* ������밴ť��Χʱ�������� */
							outline: none; /* ����ʾ������ */
							font-family: Microsoft YaHei; /* �������� */
							color: white; /* ������ɫ */
							font-size: 12px; /* �����С */
							margin-right:18px;
						}
						.button:hover { /* ������밴ť��Χʱ�ı���ɫ */
							background: #5599FF;
						}
						.tagTalk{
							display: inline-block;
						    height: 20px;
						    line-height: 18px;
						    padding: 0 5px;
						    color: #4d4d4d;
						    font-size: 12px;
						    text-align: center;
						    background-color: #fff;
						    border: 1px solid #e0e0e0;
						    vertical-align: top;
						}
					
						.addMore {
						    text-align: right;
						    cursor: pointer;
						    font-size: 10px;
						    color: #ccc;
						    display:none;
						}
						
						#submitForm {
							text-align: center
						}
						
						.contentA{
							display:inline-block;
							height:100%;width:330px;
							overflow:hidden;
							text-overflow:ellipsis;
							white-space:noWrap
						}